In [33]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
import pymysql
pymysql.install_as_MySQLdb()
import pandas as pd

In [8]:
engine = create_engine("mysql://root@localhost/icecream_db")

In [15]:
engine.execute("""CREATE TABLE icecreamstore (
                    flavor VARCHAR(50),
                    rating INT,
                    price FLOAT);""")

In [29]:
engine.execute("""INSERT INTO icecreamstore (flavor, rating, price)
                  VALUES
                    ("vanilla", 4, 2.5),
                    ("chocolate", 5, 3),
                    ("mint", 4, 2.75),
                    ("banana", 3.5, 2.5);""")

data = engine.execute("SELECT * FROM icecreamstore")

for record in data:
    print(record)

('vanilla', 4, 2.5)
('chocolate', 5, 3.0)
('mint', 4, 2.75)
('vanilla', 4, 2.5)
('chocolate', 5, 3.0)
('mint', 4, 2.75)
('banana', 4, 2.5)

In [30]:
conn = engine.connect()

In [31]:
data_df = pd.read_sql("""SELECT * FROM icecreamstore""", conn)

In [32]:
data_df

      flavor  rating  price
0    vanilla       4   2.50
1  chocolate       5   3.00
2       mint       4   2.75
3    vanilla       4   2.50
4  chocolate       5   3.00
5       mint       4   2.75
6     banana       4   2.50

# SQLAlchemy

In [34]:
from sqlalchemy import Column, Integer, String, Float

In [35]:
class Dog(Base):
    __tablename__ = 'dog' #underscores local table object...
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    color = Column(String(255))
    age = Column(Integer)

In [36]:
class Cat(Base):
    __tablename__ = 'cat'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    color = Column(String(255))
    age = Column(Integer)

In [37]:
fido = Dog(name="Fido", color='Brown', age=4)
whiskers = Cat(name="Whiskers", color="Gray", age=7)

In [40]:
Base.metadata.create_all(engine)

In [41]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [42]:
session.add(fido)
session.add(whiskers)
session.commit()

In [43]:
dog_list = session.query(Dog)
for doggy in dog_list:
    print(doggy.name)

Fido

In [44]:
cat_list = session.query(Cat)
for kitty in cat_list:
    print(kitty.name)

Whiskers